/* ?CONTAINER */
.cards-container {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
}

/* ?CARDS */
.card-item {
    cursor: pointer;
}

/* *Upper part: item image */

.item-img-container {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.item-img-container img {
    width: 100%;
    display: block;
}

/* Div that contains the four-triforce frame */
.img-frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: grayscale(100%) brightness(60%);
    transition: .2s ease;
    user-select: none;
    pointer-events: none;
}

/* Div that contains the image itself */
.item-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
}

/* Small number on the bottom left of the image */
.item-id {
    position: absolute;
    z-index: 3;
    bottom: 4%;
    left: 5%;
    color: white ;
    background-color: #13131385;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 15px;
}
/* *Lower part: item title */

/* Title container */
.card-title {
    text-align: center;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #7fe5ff;
    text-shadow: 0px 0px 5px cyan;
    max-width: 100%;
    white-space: nowrap;
}

/* Real item name */
.item-name {
    display: none;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-style: italic;
    font-size: 15px;
    position: relative;
    padding-right: 2px;
    top: 3px;
}

/* Hidden sheikah text */
.item-name-placeholder {
    opacity: 0.3;
    font-size: 15px;
    color: white;
}

/* Reaction of these on hover */
.card-item:hover .item-name {
    display: block;
}

.card-item:hover .item-name-placeholder {
    display: none;
}

.card-item:hover .img-frame {
    opacity: 1;
    box-shadow: 0px 0px 5px cyan;
    filter: none;
}


/* !RESPONSIVE */

@media screen and (max-width: 1250px) {
    .cards-container {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .item-name {
        font-size: 14px;
    }
    .item-name-placeholder {
        font-size: 14px;
    }
}

@media screen and (max-width: 950px) {
    .cards-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (max-width: 750px) {
    .item-name {
        font-size: 13px;
    }
    .item-name-placeholder {
        font-size: 13px;
    }
    .item-id {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .cards-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .item-id {
        font-size: 12px;
    }
    .item-name-placeholder {
        display: none;
    }
    .item-name {
        display: block;
        filter: grayscale(100%) brightness(60%);
        transition: .2s ease;
    }
    .card-item:hover .item-name {
        filter: none;
    }
}

@media screen and (max-width: 300px) {
    .cards-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.sheikah-eye {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: neonGlow 1s alternate infinite;
    
}
.sheikah-eye img {
    position: relative;
    left: 1px;
    max-width: 75%;
    width: auto;
}

@keyframes neonGlow {
    0% {
        -webkit-filter: drop-shadow(0 0 2px #00ffffc4);
        filter: drop-shadow(0 0 2px #00ffffc4);
    }
    100% {
        -webkit-filter: drop-shadow(0 0 10px #00ffffc4);
        filter: drop-shadow(0 0 10px #00ffffc4);
    }
}

.currimg, .img-frame {
    z-index: 2;
}
.currimg {
    opacity: 0;
    transition: opacity .3s ease;
    
    position: relative;
}
.currimg.loaded {
    opacity: 1;
}