.card-item {
    /* width: 180px; */
    cursor: pointer;
}

.item-img-container {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    background-color: #131313;
    position: relative;
}
.item-img-container img {
    width: 100%;
    display: block;
}
.img-frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: grayscale(100%) brightness(60%);
    transition: .2s ease;
}
.item-img {
    position: relative;
}
.item-id {
    position: absolute;
    z-index: 3;
    bottom: 4%;
    left: 5%;
    color: white ;
    /* text-shadow: 0px 0px 5px cyan; */
    background-color: #13131385;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 15px;
}
.title-visible {
    display: none;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title-not-visible {
    opacity: 0.3;
    /* display: none; */
}
.card-item:hover .title-visible {
    display: block;
}
.card-item:hover .title-not-visible {
    display: none;
}
.card-item:hover .img-frame {
    opacity: 1;
    box-shadow: 0px 0px 5px cyan;
    filter: none;
}
.card-title {
    text-align: center;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #7fe5ff;
    text-shadow: 0px 0px 5px cyan;
    max-width: 100%;
    white-space: nowrap;
}
.title-visible {
    text-transform: capitalize;
    font-style: italic;
    font-size: 15px;
    position: relative;
    padding-right: 2px;
    top: 3px;
}
.title-not-visible {
    font-size: 15px;
    color: white;
}
.neon-italic-text {
    font-style: italic;
    color: #7fe5ff;
    text-shadow: 0px 0px 5px cyan;
}

/* TODO: REPONSIVE */
/* !RESPONSIVE */

.cards-container {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 20px;
}

@media screen and (max-width: 1250px) {
    .cards-container {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .title-visible {
        font-size: 14px;
    }
    .title-not-visible {
        font-size: 14px;
    }
}
@media screen and (max-width: 950px) {
    .cards-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .cat-icon {
        width: 80px !important;
        flex-grow: 0;
    }
    .cat-title {
        font-size: 15px;
    }
}
@media screen and (max-width: 750px) {
    .cat-icon {
        width: 75px !important;
    }
    .cat-title {
        font-size: 14px !important;
    }
    .cat-logo {
        height: 45px !important;
    }
    .title-visible {
        font-size: 13px;
    }
    .title-not-visible {
        font-size: 13px;
    }
    .item-id {
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    .cards-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .cat-icon {
        width: 50px !important;
    }
    .cat-title {
        font-size: 12px !important;
    }
    .cat-logo {
        height: 40px !important;
    }
    .cat-title {
        display: none;
    }
    .item-id {
        font-size: 12px;
    }
    .title-not-visible {
        display: none;
    }
    .title-visible {
        display: block;
        filter: grayscale(100%) brightness(60%);
        transition: .2s ease;
    }
    .card-item:hover .title-visible {
        filter: none;
    }
}
@media screen and (max-width: 300px) {
    .cards-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .cat-icon {
        width: 40px !important;
    }
    .cat-logo {
        height: 35px !important;
    }

}

/* ? */