.data-view-container {
    width: 100%;
    max-width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding:  10px 25px 20px 25px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.137);
}

/* ?HEADER*/
.data-header {
    width: 100%;
    color: #7fe5ff;
    text-shadow: 0px 0px 4px cyan;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 5px;
}

/* ?CONTENT */

/* *Upper part: contains the image and a part of the info */
.data-upper, .data-lower {
    display: flex;
}

/* Upper left: image */
/* See `card-item.css` for the style on the image */
.data-upper-left, .data-lower-left {
    width: 27%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.img-frame.active {
    opacity: 1;
    box-shadow: 0px 0px 5px cyan;
    filter: none;
}

/* Upper right: description and common locations */
.data-upper-right, .data-lower-right {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Common elements */
.single-title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.single-title span {
    font-weight: initial;
    font-size: 18px;
    width: fit-content;
    margin: 0;
    padding: 0 10px;
}
.title-deco {
    height: 1px;
    width: 100%;
}

.description-text {
    padding: 5px 15px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.description-text p {
    margin: 0;
}

/* Specific selectors on items */
.item-location {
    margin-top: 10px;
}

.item-drops .description-text {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding-top: 10px;
    white-space: nowrap;
    flex-wrap: wrap;
    row-gap: 7px;
}

.item-drops {
    margin-top: 20px;
    width: 100%;
}

/* !RESPONSIVE */
@media screen and (max-width: 1050px) {
    .data-header {
        font-size: 25px;
    }
    .description-text {
        font-size: 16px;
    }
    .single-title {
        font-size: 15px;
    }
}
@media screen and (max-width: 850px) {
    .data-header {
        font-size: 22px;
    }
    .description-text {
        font-size: 15px;
    }
    .single-title {
        font-size: 14px;
    }
}
@media screen and (max-width: 750px) {
    .data-upper {
        flex-direction: column;
        align-items: center;
    }
    .data-upper-left {
        width: 100%;
        max-width: 200px;
        padding: 10px 0 15px;

    }
    .data-upper-right {
        padding-left: 0;
        gap: 15px;
    }
    .description-text {
        padding-top: 10px !important;
    }
    .data-view-container {
        max-width: 600px;
    }
    .item-locations .description-text {
        
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .description-text p {
        width: fit-content;
    }
}

@media screen and (max-width: 550px) {
    .data-header {
        font-size: 18px;
    }
    .description-text {
        font-size: 13px;
    }
    .single-title {
        font-size: 12px;
    }
}