@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.entry-item-container {
    margin-bottom: 10px;
}

.front-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    max-width: 70%;
    margin: 0 auto;
}
.front-logo img {
    max-width: 100%;
    display: block;
}
.section-doc {
    height: fit-content;
    padding-bottom:40px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}
.refresh {
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: auto;
    position: relative;
    right: 3px;
    padding: 5px 0;
    opacity: .7;
    transition: opacity .2s ease;
    cursor: pointer;
    width: fit-content;
}
.refresh:hover {
    opacity: 1;
}

.about  {
    width: 100%;

    margin: 0 auto;
}
.about.endpoints {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-doc h1 {
    font-family: "Hylia", sans-serif;
    font-weight: initial;
    margin: 30px 0;
    font-size: 40px;
    width: 100%;
    align-items: center;
}
.section-doc h1 span {
    width: fit-content;
    padding: 0 20px;
}
.section-doc h2 {
    font-weight: unset;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}
.about p {
    font-size: 17px;
    margin: 0;
}

.code-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.code-block-title {
    font-weight: bold;
}
.code-block-content {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Space Mono', monospace;
    padding: 20px 25px;
    border-radius: 5px;
}
.code-block-content span {
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    margin: 0;
    font-size: 16px;
    word-wrap: break-word; 
    font-family:  'Space Mono', monospace;;
}

.section-doc h1 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.section-doc h1 div {
    height: 2px;
    width: 100%;
    background-color: var(--color-beige);
}

@media screen and (max-width: 750px) {
    .about {
        max-width: 600px;
    }
    .section-doc h1 {
        font-size: 30px;
    }
    .section-doc h2 {
        font-size: 18px;
    }
    .about p, .code-block-title, pre {
        font-size: 15px;
    }
    .about.about.endpoints {
        gap: 30px;
    }
}

@media screen and (max-width: 550px) {
    .refresh {
        font-size: 11px;
    }
    .section-doc h1 {
        font-size: 25px;
    }
    .about p, .code-block-title {
        font-size: 14px;
    }
    .section-doc h2 {
        font-size: 16px;
    }
    .code-block-content span, pre {
        font-size: 13px;
    }
    .section-doc {
        padding-bottom: 40px;
    }
}

