@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(card-item.css);
@import url(header.css);
@import url(entry-item.css);
@import url(footer.css);
@import url(scrollbars.css);
@import url(search.css);
@import url(categories.css);
@import url(404.css);

@font-face {
    font-family: "Hylia";
    src: url(../fonts/HyliaSerif.ttf);
}
@font-face {
    font-family: "Sheikah";
    src: url(../fonts/botw-hylian.ttf);
}

:root {
    --color-dark-gray: #131313;
    --color-beige: #fbf7dc;
    --color-gold: #b79c63;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}
body, html {
    height: 100vh;
    width: 100%;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(../img/background.png);
    font-family: "Open Sans",  sans-serif;
    color: var(--color-beige);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -webkit-tap-highlight-color: transparent;
}

main {
    padding-top: 75px;
    flex-shrink: 0;
    flex: 1;
}

/* *COMMON EFFECTS */

.link-underline {
    position: relative;
    padding: 2px 0;
}

.link-underline::after {
    content: "";
    position: absolute;
    
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 0px;
    background-color: var(--color-beige);
    transition: width .15s ease-in-out;
}

.link-underline:hover::after, .link-underline.active::after {
    width: 100%;
}

.neon-italic-text {
    font-style: italic;
    color: #7fe5ff;
    text-shadow: 0px 0px 5px cyan;
}
.neon-bg {
    background-color: #7fe5ff;
    box-shadow: 0px 0px 4px cyan;
}

/* .card-item {
    height: 150px;
    max-height: 150px;
    width: 590px;
    height: fit-content;
    border-radius: 15px;
    overflow:hidden;
    display: flex;
    background-color: rgba(255, 255, 255, .01);
    border: 2px solid #38b6f1;
    box-shadow: 0px 0px 15px #38b6f17c;

}
.card-header {
    width: 150px;
    aspect-ratio: 1;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
}
.card-header img {
    max-height: 100%;
    height: 100%;
    width: 100%; 
}
.card-main {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-title {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}
.card-tags-container {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.card-tag-item {
    padding: 0 3px 1px 3px;
    border-radius: 3px;
    color: black;
    background-color: #ececec;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}
.card-description { 
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-style: italic;
    opacity: .75;
} */

section {
    width: 100%;
    height: 100%;
    padding: 40px 25px;
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

h1{
    font-family: "Hylia", sans-serif;
    font-weight: initial;
    font-size: 48px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.single-card {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheikah-font {
    text-transform: lowercase;
    font-family: "Sheikah", sans-serif;
}

@media screen and (max-width: 550px) {
    main {
        padding-top: 60px;
    }
    /* section {
        padding-top: 30px;
        padding-bottom: 30px;
    } */
}
@media screen and (max-width: 300px) {
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}