@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(card-item.css);
@import url(header.css);
@import url(entry-item.css);
@import url(footer.css);
@import url(scrollbars.css);
@import url(search.css);
@import url(categories.css);
@import url(index.css);
@import url(404.css);
@import url(card-item-wide.css);

@font-face {
    font-family: "Hylia";
    src: url(../fonts/HyliaSerif.ttf);
}
@font-face {
    font-family: "Sheikah";
    src: url(../fonts/botw-hylian.ttf);
}

:root {
    --color-dark-gray: #131313;
    --color-beige: #fbf7dc;
    --color-gold: #b79c63;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}
body, html {
    height: 100vh;
    width: 100%;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(../img/background.png);
    font-family: "Open Sans",  sans-serif;
    color: var(--color-beige);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -webkit-tap-highlight-color: transparent;
}

main {
    padding-top: 75px;
    flex-shrink: 0;
    flex: 1;
}

/* *COMMON EFFECTS */

.link-underline {
    position: relative;
    padding: 2px 0;
}

.link-underline::after {
    content: "";
    position: absolute;
    
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 0px;
    background-color: var(--color-beige);
    transition: width .15s ease-in-out;
}

.link-underline:hover::after, .link-underline.active::after {
    width: 100%;
}

.master-italic-text {
    font-style: italic;
    color: rgb(255, 73, 73);
    text-shadow: 0px 0px 5px red;
    font-weight: bold;
}
.neon-italic-text {
    font-style: italic;
    color: #7fe5ff;
    text-shadow: 0px 0px 5px cyan;
}
.neon-bg {
    background-color: #7fe5ff;
    box-shadow: 0px 0px 4px cyan;
}

.big-card-item {
    max-width: 650px;
    aspect-ratio: 100/27;
    overflow:hidden;
    display: flex;
    gap: 3px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);;
    border-radius: 0 5px 5px 0;

}
.big-card-header {
    width: 27%;
    aspect-ratio: 1;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
}
.big-card-header img {
    max-height: 100%;
    width: 100%; 
}
.big-card-main {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    overflow: hidden;
    border-left: none;
    padding-top: 17px;
    position: relative;
}
.big-card-main::before {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 100%;
    height: calc(100% - 10px);
    content: "";
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.big-card-title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    position: relative;
}
.big-card-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #878787;
}
.big-card-tags-container {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.big-card-tag-item {
    padding: 0 3px 1px 3px;
    border-radius: 3px;
    color: black;
    background-color: #ececec;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}
.big-card-description { 
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    font-style: italic;
    opacity: .75;
    max-height: 60px;
    margin-top: 5px;
}
.container {
    max-width: 1380px;
    width: 100%;
    padding: 25px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    row-gap: 20px;
}
.container .not-found-title {
    font-size: 32px;
    text-shadow: none;
}
.container .not-found-popup {
    /* margin: 10px auto 20px; */
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    min-height: auto;
    max-height: auto;
    height: 180px;
    max-width: 600px;
    width: 100%;
    
}
.container .not-found-popup .left {
    height: 100%;
    aspect-ratio: 1;
}
.container .not-found-popup .left img {
    max-height: 100%;
    max-width: 60%;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.tags {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tag {
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #87878781;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 3px;
}
.tag-img {
    height: 20px;
}

section {
    width: 100%;
    height: 100%;
    padding: 40px 25px;
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

h1{
    font-family: "Hylia", sans-serif;
    font-weight: initial;
    font-size: 48px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.single-card {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheikah-font {
    text-transform: lowercase;
    font-family: "Sheikah", sans-serif;
}

@media screen and (max-width: 1380px) {
    .big-card-item {
        max-width: 590px;
    }
    .container {
        max-width: 1250px;
    }
}

@media screen and (max-width: 1250px) {
    .big-card-item {
        max-width: 455px;
    }
    .container {
        max-width: 950px;
    }
    .big-card-title {
        font-size: 15px;
    }
    .tags {
        gap: 7px;
    }
    .tag-img {
        height: 15px;
    }
    .tag {
        height: 20px;
        font-size: 12px
    }
    .big-card-description {
        font-size: 13px;
        max-height: 40px;
        margin-top: 1px;
        -webkit-line-clamp: 2;
    }
    .big-card-main {
        padding: 10px;
    }

}

@media screen and (max-width: 950px) {
    .big-card-item {
        max-width: 600px;
        width: 100%;
    }
    .container {
        flex-direction: column;
        padding: 25px;
        max-width: 600px;
        flex-wrap: nowrap;
    }
    .big-card-main {
        padding: 10px 15px;
    }
    .big-card-title {
        font-size: 18px;
    }
    .tag-img {
        height: 18px;
    }
    .tag {
        height: 23px;
        font-size: 13px
    }
    .big-card-description {
        margin-top: 3px;
        -webkit-line-clamp: 3;
        max-height: 55px;
    }

    .container .not-found-description {
        font-size: 14px;
    }

}
@media screen and (max-width: 750px) {
    main {
        padding-top: 60px;
    }
}
@media screen and (max-width: 610px) {
    .container {
        padding: 10px;
    }
    .big-card-title {
        font-size: 15px;
    }
    .tags {
        gap: 7px;
    }
    .tag-img {
        height: 15px;
    }
    .tag {
        height: 20px;
        font-size: 12px
    }
    .big-card-description {
        margin-top: 3px;
        -webkit-line-clamp: 3;
        max-height: 55px;
    }

}
@media screen and (max-width: 530px) {

    .big-card-title {
        font-size: 15px;
    }
    .tags {
        gap: 7px;
    }
    .tag-img {
        height: 15px;
    }
    .tag {
        height: 20px;
        font-size: 12px
    }
    .big-card-description {
        -webkit-line-clamp: 2;
    }
    .container .left {
        display: none;
    }
    .container .not-found-popup {
        height: fit-content;
        padding: 20px;
    }
    .container .not-found-popup .not-found-title {
        font-size: 28px;
    }
}
@media screen and (max-width:460px) {
    .container {
        width: 100%;

    }
    .big-card-title {
        font-size: 14px;
    }
    .big-card-item {
        width: 100%;
        height: 120px;
        aspect-ratio: unset;
    }
    .big-card-main {
        padding: 10px;
        font-size: 13px;
    }
    .tags {
        gap: 5px;
    }
    .tag-img {
        height: 11px;
    }
    .tag {
        height: 15px;
        font-size: 10px
    }
    .big-card-description {
        font-size: 11px;
        margin-top: 1px;
        -webkit-line-clamp: 3;
        max-height: 55px;
    }
    .big-card-header {
        width: auto;
        height: 100%;
        aspect-ratio: 1;
    }
    .container .not-found-title {
        font-size: 24px;
    }
    .container .not-found-description {
        font-size: 13px;
    }
}
@media screen and (max-width: 310px) {
    .big-card-item {
        height: 100px;
    }
    .big-card-main {
        padding-top: 5px;
    }
    .big-card-description {
        font-size: 11px;
        margin-top: 1px;
        -webkit-line-clamp: 2;
        max-height: 55px;
    }
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}