* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-beige) rgba(255, 255, 255, 0.075);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.075);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(251, 247, 220, 0.8);
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--color-beige);
}