{{ define "main" }}
<section class="section-404">
    <div class="not-found-container">
        <div class="not-found-img"><img src="/assets/img/characters/Guardian.webp" alt="Image of a Guardian Stalker"></div>
    </div>
    <div class="not-found-content">
        <div class="not-found-popup">
            <div class="top">
                <div class="left">
                    <img src="/assets/img/characters/hestu_nut.webp" alt="deez nuts">
                </div>
                <div class="right">
                    <div class="not-found-title">404 Not Found</div>
                    <div class="not-found-description">
                        Well, it seems you got lost on your way... You should head back, it's not safe here.
                    </div>
                </div>              
            </div>
            <a class="bottom" href="/"><div class="head-back-container"><div class="head-back link-underline">Go to Home</div> <div class="home-icon"><i class="fa-solid fa-house"></i></div></div></a>

            
        </div>

    </div>
</section>
{{ end }}