{{ define "main" }}
<section>
    <div class="cat-icon-container">
        <div class="cat-icon active">
            <div class="cat-title">Creatures</div>
            <img class="cat-logo" src="/assets/img/category_icons/creatures.png" alt="Creature category icon">
        </div>
        <div class="cat-icon">
            <div class="cat-title">Monsters</div>
            <img class="cat-logo" src="/assets/img/category_icons/monsters.png" alt="Monster category icon">
        </div>
        <div class="cat-icon">
            <div class="cat-title">Food</div>
            <img class="cat-logo" src="/assets/img/category_icons/food.png" alt="Food category icon">
        </div>
        <div class="cat-icon">
            <div class="cat-title">Weapons</div>
            <img class="cat-logo" src="/assets/img/category_icons/swords.png" alt="Equipment category icon">
        </div>
        <div class="cat-icon">
            <div class="cat-title">Treasures</div>
            <img class="cat-logo" src="/assets/img/category_icons/treasures.png" alt="Treasure category icon">
        </div>
    </div>
    <div class="cards-container">
        {{ range .ResultArr}}
            {{template "card" .}}
        {{ end }}
    </div>
</section>


{{ end }}