{{ define "content" }}
<div class="cat-icons">
    <div class="cat-icon active">
        <div class="cat-title">Creatures</div>
        <img class="cat-logo" src="/assets/img/creatures.png" alt="">

    </div>
    <div class="cat-icon">
        <div class="cat-title">Monsters</div>
        <img class="cat-logo" src="/assets/img/monsters.png" alt="">
    </div>
    <div class="cat-icon">
        <div class="cat-title">Food</div>
        <img class="cat-logo" src="/assets/img/food.png" alt="">

    </div>
    <div class="cat-icon">
        <div class="cat-title">Weapons</div>
        <img class="cat-logo" src="/assets/img/swords.png" alt="">
    </div>
    <div class="cat-icon">
        <div class="cat-title">Treasures</div>
        <img class="cat-logo" src="/assets/img/treasures.png" alt="">
    </div>
</div>
<div class="cards-container">
    {{template "card" .ResultArr}}
</div>
<div id="test">
    
</div>

{{ end }}