{{ define "main" }}
<div class="front-logo">
    <img src="/assets/img/indexLogo.png" alt="">
</div>
<section class="section-doc">
    <div class="entry-item-container">
        <div class="item-to-replace">
            {{ template "single-page" . }}
        </div>
        <div class="refresh">Show me another one !!</div>
    </div>
    <div class="about">
        <h1><div></div><span>About the API</span><div></div></h1>
        <p>Welcome to the Compendium Data Viewer, a tool that will help you visualize each and every entry of the bestiary from the game The Legend of Zelda: Breath of the Wild - directly on your computer or smartphone screen !</p>
        <br><p>This website uses <a href="https://github.com/gadhagod">Aarav Borthakur</a>'s <a href="https://github.com/gadhagod/Hyrule-Compendium-API">Hyrule Compendium API</a> as its main source of data. It stores the data of the 394 entries of the compendium, which are all the monsters, equipment, treasures, creatures and materials that you can find on the vast continent of Hyrule.</p>
    </div>
    <div class="about">
        <h1><div></div><span>How to use the API</span><div></div></h1>
        <p>As the API doesn't require any key or token to send responses, a simple HTTP GET request suffices to receive data.</p>

        <div class="code-block">
            <span class="code-block-title">For exemple, here's the request that has generated the card above!</span>
            <div class="code-block-content">
                <span>GET https://botw-compendium.herokuapp.com/api/v2/entry/<span id="id-to-replace">8</span>
            </div>
        </div>

        <div class="code-block">
            <span class="code-block-title">And here is what the API sent us back:</span>
            <div class="code-block-content">
                <pre id="json-to-replace" ></pre>
            </div>
        </div>
    </div>
    <h1><div></div><span>Endpoints</span><div></div></h1>
    <div class="about endpoints">
        
        <div class="endpoint">
            <h2 class="neon-italic-text"> Single Entry</h2>
            <div class="code-block">
                <p>Retrieving a unique item can be done using the request mentionned above.</p>
                <span class="code-block-title">Please note that you can specify the entry's name instead of its ID in the request</span>
                <div class="code-block-content">
                    <span>GET https://botw-compendium.herokuapp.com/api/v2/entry/moblin
                </div>
            </div>
        </div>
        <div class="endpoint">        
            <h2 class="neon-italic-text"> All entries from a category</h2>
            <div class="code-block">
                <span class="code-block-title">In addition to the entry endpoint mentionned above, you can retrieve data from the API by their category ("monsters", "equipment", "materials", "creatures" and "treasures")</span>
                <div class="code-block-content">
                    <span>GET https://botw-compendium.herokuapp.com/api/v2/category/monsters
                </div>
            </div>
        </div>
        <div class="endpoint">
            <h2 class="neon-italic-text"> All entries</h2>
            <div class="code-block">
                <span class="code-block-title">It is also possible to retrieve all 389 items using the following request:</span>
                <div class="code-block-content">
                    <span>GET https://botw-compendium.herokuapp.com/api/v2/all
                </div>
            </div>
        </div>
        <div class="endpoint">
            <h2 class="master-italic-text"> Mastermode</h2>
            <p>If you want to retrieve entries specific to the mastermode (golden enemies, for example), this must be done by slightly altering the URL Request.</p>
            <div class="code-block">
                <span class="code-block-title">To retrieve one entry exclusive to the mastermode:</span>
                <div class="code-block-content">
                    <span>GET https://botw-compendium.herokuapp.com/api/v2/master_mode/entry/golden_lynel
                </div>
            </div>
            <div class="code-block">
                <span class="code-block-title">To retrieve all items from the mastermode:</span>
                <div class="code-block-content">
                    <span>GET https://botw-compendium.herokuapp.com/api/v2/master_mode/all
                </div>
                <p>Please note that this endpoint will only retrieve all the entries relative to the mastermode and not the full mastermode compendium.</p>
            </div>
        </div>
        <p>Enjoy browsing the Compendium ! ♪</p>
    </div>
</section>
{{ end }}