{{ define "main"}}
<section>
    <div class="request-form">
        <form action="/search" method="POST">
            <label for="name"><input type="text" id="name" name="name" placeholder="What are you looking for?"></label>
            <label class="submit" for="submit-btn"><i class="fa-solid fa-arrow-right"></i></label><input type="submit" id="submit-btn" class="invisible-submit">
            <div>
                <div>
                    Regions:
                    {{ range .Regions }}
                    <label for="{{ . }}"><input type="checkbox" id="{{.}}" name="region" value="{{.}}">{{.}}</label>
                    {{ end }}    
                </div>
                <div><label for="mastermode">Mastermode: <input type="checkbox" id="mastermode" name="mastermode"></label></div>
                <div>
                    Categories:
                    {{ range .Categories }}
                    <label for="{{ . }}"><input type="checkbox" id="{{.}}" name="category" value="{{.}}">{{.}}</label>
                    {{ end }}
                </div>
            </div>
        </form>
    </div>
    {{ if ne .PerfectMatch.Name ""}}
    <h1>Perfect match</h1>
    <div class="cards-container">
        
        {{ template "card" .PerfectMatch }}
    </div>
    {{ end }}
    {{ if .ResultArr }}
    <h1>All results</h1>
    <div class="cards-container">
        
        {{ range .ResultArr}}
            {{ template "card" . }}
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
