{{ define "card" }}
<a href="/item/{{ $.ID }}{{ if .MasterExclusive }}?mode=master{{ end }}">
    <div class="card-item">
        <div class="item-img-container">
            <div class="item-img">
                <div class="sheikah-eye"><img  src="assets/img/characters/sheikah_eye.png" alt=""></div>
                <img class="currimg" id="img_{{ if .DisplayMaster }}{{ .MasterID}}{{else}}{{ .ID }}{{end}}" onload="sayHi(`img_{{ if .DisplayMaster }}{{ .MasterID}}{{else}}{{ .ID }}{{end}}`);" src="{{ .Image }}" alt="" >
                <div class="item-id">{{ if .DisplayMaster }}{{  .MasterID}}{{else}}{{  .ID }}{{end}}</div>
            </div>
            <div class="img-frame"><img src="/assets/img/card-border.png" alt=""></div>
        </div>
        <div class="card-title">
            <span class="item-name-placeholder sheikah-font">Ratio</span>
            <span class="item-name">{{ .Name }}</span>
        </div>
    </div>
</a>
{{ end }}