{{ define "card" }}
<a href="/item/{{ $.ID }}{{ if .MasterExclusive }}?mode=master{{ end }}">
    <div class="card-item">
        <div class="item-img-container">
            <div class="item-img">
                <img src="{{ .Image }}" alt="">
                <div class="item-id">{{ if .DisplayMaster }}{{ addPaddingToNumber .MasterID}}{{else}}{{ addPaddingToNumber .ID }}{{end}}</div>
            </div>
            <div class="img-frame"><img src="/assets/img/card-border.png" alt=""></div>
        </div>
        <div class="card-title">
            <span class="item-name-placeholder sheikah-font">Ratio</span>
            <span class="item-name">{{ .Name }}</span>
        </div>
    </div>
</a>
{{ end }}