{{ define "card" }}
<a href="/item/{{ $.ID }}">
    <div class="card-item">
        <div class="item-img-container">
            <div class="item-img">
                <img src="{{ .Image }}" alt="">
                <div class="item-id">{{ .ID }}</div>
            </div>
            <div class="img-frame"><img src="/assets/img/card-border.png" alt=""></div>
        </div>
        <div class="card-title">
            <span class="title-not-visible sheikah-font">Ratio</span>
            <span class="title-visible">{{ .Name }}</span>
        </div>
    </div>
</a>
{{ end }}