{{ define "no-result" }}

<div class="not-found-popup">
    <div class="top">
        <div class="left">
            <img src="/assets/img/characters/cucco.png" alt="deez nuts">
        </div>
        <div class="right">
            <div class="not-found-title">No result...</div>
            <div class="not-found-description">
                Woops! There's no result with these filters. Maybe you should try something else ?
            </div>
        </div>              
    </div>
</div>

{{ end }}